*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    display: flex;
    /* border: 2px solid rgb(255, 47, 47) ; */
    height: 100vh;
   
    
    
}

main{
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60%;
    width: 53%;
    gap: 10%;
    padding: 5px;
    
    

  
}
main div{
    width: 311px;
    height: 83%;
    /* border: 1px solid red; */
    
}

img{width: 270px;}




.style-main-selection{
    /* border: 2px solid rgb(254, 254, 254); */
    display: grid;
    /* height: 83%; */

}



.myColor{
    /* background-color: red; */
    color: red;
}
.color-picker{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.lb-blue{
    background-color: #40b4e5;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    

}
.lb-yellow{
    background-color: #fad34c;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;

}
.lb-pink{
    background-color: #d9368d;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 100%;

}
#myblue,#myyellow,#mypink{
  
    display: none;

}

/* ==================================================== */
#selectlogo{
    display: none;

}

#style-logo-updater{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #40b4e5;
}

.loader-icon ,.uploader-icon  {
    /* border: 1px solid red; */

}
.loader-icon img{
    width: 20px;
}
#cancel-icon img{
    width: 20px;
    

}

.u-loader-img{
    
    width: 100px;
    position: absolute;
    left: 32%;
    top: 41%;

    animation: spin 1s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#style-logo-land{
   width: 65px;
    /* border: 1px solid red; */
    position: absolute;
    /* top: 47px; */
    bottom: 37%;
    /* right: 2px; */
    left: 32%;
}

 .uploader-rotaate{

    animation: spin 1s linear infinite;

}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
/* ========================================================= */

#logotxt{
    color: white;
    
    font-weight: 700;
}

#cancel-icon img{
    display: none;
}

.desctxt{
    display: grid;
    /* border: 1px solid red; */
    height: fit-content;
    gap: 5px;
    font-weight: 300;
    margin-top: 10px;

}